@font-face {
    font-family: "Monserrat";
    src: url(../font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url(../font/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: "Quicksand";
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: "pretendard";
    src: url(../font/PretendardJPVariable.ttf);
}

@font-face {
    font-family: "DMSans";
    src: url(../font/DMSans-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: "Gmarketbold";
    src: url(../font/GmarketSansTTFBold.ttf);
}