/* size */
$header-height-size : 152px;
$header-inner-width-size : 1728px;
/* color  */
$color--white : #F5F5F5;
$color--darkbrown : #3F2305;
$color--black : #222222;
$color--darkgray : #5E5E5E;
$color--gray : #BBBBBB;
$color--lightgray : #D9D9D9;
$color--beige : #FFF7EB;
$color--red : #D00000;
$color--pink : #FF7B7C;
$banner-img-width : 1144px;
$coupon_banner_height : 200px;